<!Doctype html>

<html>

<head>
<title>Enter Details</title>

<meta name="Description" content="There is no money to win, if you are looking for a quick game that will make you rich you are not at the right place. In here, you'll only find the pleasure to be smart ;).">


<meta name="author" lang="En" content="Vivek Gupta, Ankit Sinha, Gaurav Thakkar">

<meta name="reply-to" content="xyz@codeasylum.com">

<meta name="category" content="Blackjack Game">

<meta name="abstract" content="Let's play Blackjack">

<link rel="stylesheet" href="style.css">

</head>

<body>

<div class="container">

	<div class="bg-image">
		<img src="../images/ruleback.jpg" alt="Snow">
	</div>


	<!-- The Modal -->
	<div id="myModal" class="modal">

  <!-- Modal content -->
  		<div class="modal-content">

    		<p>

    			<div class="bg-text" id="inputdetail" style="padding-top: 20px;">	
	
					<span>Select number of Players : </span>
						<select id="box" name="Players" onchange="total_players();">
  							<option value="1">1</option>
  							<option value="2">2</option>
  							<option value="3">3</option>
  							<option value="4">4</option>
						</select><br><br>
				
				<div id="displayui">

				</div>

				</div>

				<input type="submit" value="Submit" />

    		</p>

  		</div>

  	</div>

	

</div>	




 <script src="../scripts/ui.js"></script> 
</body>

</html>