<!DOCTYPE html>
<html>

<head>

    <title>On the table</title>
    <link rel="stylesheet" href="style.css">
    <meta name="author" lang="English" content="Vivek Gupta, Ankit Sinha, Gaurav Thakkar">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

  <img src="../images/table2.jpg" class="bg-table">
  
    <div class="play-feild" id="table-data">
  
      <div id="dealer-card-id"></div><br>=
      <div id="player-card-id"></div><br><br>
  
      <button type="button" class="set-table-play" data-toggle="modal" data-target="#myModal">ADD AMOUNT</button>

      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content"> 
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Select Number of Players</h4>
            </div>  
            <div class="modal-body">
              <p> 
                 Add Principle Amount: <input type="number" id="input-principle-amount" min="1000">
                 <input type="button" value="Submit" onclick="add_amount()"><br><br>

                 <p id="show-error">
                   
                 </p>

              </p>
            </div>  
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
      <a class="table-btn" onclick="quit()">QUIT</a>
      <a class="table-btn" onclick="hit()">HIT</a>
      <a class="table-btn" onclick="stand()">STAND</a>
      <a class="table-btn" onclick="new_game()">NEW GAME</a>
    
    </div>


 <script src="../scripts/player_detail.js"></script> 
 <script src="../scripts/jack_table.js"></script> 

</body>

</html>