<!Doctype html>

<html>

<head>

	<title>Welcome</title>
	
	<meta name="author" lang="English" content="Vivek Gupta, Ankit Sinha, Gaurav Thakkar">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="../view/style.css">

</head>

<body>

<div class="register">

    <img src="../images/ruleback.jpg" class="bg-image">

    <div class="registerationform">
    	<b>Enter Username Here: </b><input type="text" name="username" value=""> <input type="submit" id="new_user_name" value="Register" onclick="register_player()" />
    </div>

</div>  

 <script src="../scripts/player_detail.js"></script>
 <script src="../scripts/register.js"></script> 
 <script src="../scripts/jack_table.js"></script> 
</body>

</html>