.main {

  height: 100%;
  width: 100%;
}

.buttons {

  height: 100%;
  width: 100%;
  margin-left: 700px;
  position: absolute;
  margin-top: 220px;
  position: fixed;
}

.butn1 {

  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 150px;
  
}


.butn1:hover {
  transform: scale(1.5);
}

.butn2 {

  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: : 150px;
}

.butn2:hover {

  transform: scale(1.5);
}

.bg-image {

  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%; 
  width: 100%;
  position: fixed;
}


.set_play {

  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding-bottom: : 150px;
  position: relative;
  margin-top: 350px;
  margin-left: 500px;
}

.set_play:hover {

  transform: scale(1.5);
}

.bg-text {

  position: relative;
  color: #D3D3D3;
  letter-spacing: 2px;
  line-height: 2;
  font-size: 16px;
  font-weight: bold;
  font-family: cursive;
  background-color: rgba(0,0,0,0.8);
}

.rules {

  width: 100%;
  height: 100%;
  
}

.registerationform {

  background-color: #555555;
  width: 360px;
  padding: 15px 15px 15px;
  margin-top: 400px;
  margin-left: 500px;
  position: absolute;
}


/*table css*/

.bg-table {

  height: 100%; 
  width: 100%;
  position: absolute;
}


.play-feild {

  position: relative;
  margin-left: 400px;

}

.table-btn {

  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  
}

.set-table-play {

  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding-bottom: : 150px;
  position: relative;
}

